{% extends "base.html" %}
{% load wagtailimages_tags %}
{% block content %}
	<div class="row">
		<div class="col-lg-6">
			<h1 class="cc-inner-title">{{ page.title }}</h1>
			<p class="cc-inner-subtitle cc-service-subtitle">{{ page.description }}</p>
			{% if page.internal_page.url or page.external_page %}
				<a href="{{ page.external_page|default_if_none:page.internal_page.url }}" class="btn btn-primary btn-lg mb-2 mb-lg-0">{{ page.button_text }}</a>
			{% endif %}
		</div>
		<div class="cc-lg-6">
			<picture>
				{% image page.service_image fill-573x369 as img %}
				<img src="{{ img.url }}" style="width: 100%; height: auto;" alt="{{ img.alt }}">
			</picture>
		</div>
	</div>
{% endblock content %}